/* ----------------- Start Contact Us CSS------------------ */

/* ----------------- Start Map CSS------------------ */

#contact{
    transition: 0.5s;
}
#map{
    height: 350px;
    position: relative;
    z-index: 3;
}
#map iframe{
    pointer-events: none;
    height: 100% !important;
    cursor: pointer;
}
/* ----------------- End Map CSS------------------ */

/* ----------------- Start Footer CSS------------------ */

#footer_left{
    margin-top: 130px;
    margin-left: 65px;
}
#footer_left i{
    font-family: FontAwesome;
    font-size: 30px;
    color: 77CC6D;
}
#footer_left img{
    width: 100px;
    margin-left: 65px;
}
#footer_left .social{
    font-family: FontAwesome;
}
#footer_left .social ul li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
}
#footer_left .social ul li a{
    text-decoration: none;
    color: #78858e;
    font-size: 20px;
    margin-right: 10px;
}
    

#contact .footer{
    background: #1e1e1e;
}
#contact_form{
    position: relative;
    z-index: 5;
    margin: 0 auto;
    margin-top: -150px;
    width: 400px;
    height: 400px;
        background: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 0px 25px 1px #1e1e1e;
    border-radius:1%; 
    
}
.form-control:focus {
    border-color: #ff4f19;
}
#contact_form h3{
    margin-bottom: 30px;
    color: #77CC6D;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
}
#contact_form .btn{
    margin-bottom: 30px;
    margin-top: 60px;
    color: #fff;
    background: #77CC6D;
    padding: 12px 25px;
}
#contact_form .form-control {
    color: #3a3a3a;
    background-color: #f6f6f6;
}
.copyright p{
    margin: 40px 5px;
    color: #78858e;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.copyright a{
    color: #78858e;
    font-size: 16px;
    text-decoration: none;
}
#footer_rigth{
    margin-top: 90px;
    margin-left: 5px;
}
#footer_rigth .address{
    font-family: FontAwesome;
}
#footer_rigth .address ul li{
    list-style: none;
    text-decoration: none;
    margin-top: 20px;
    color: #78858e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
#footer_rigth .address ul li span{
    font-family: FontAwesome;
    font-size: 20px;
    margin-right: 20px;
    margin-left: -33px;
}
#footer_rigth .address ul li a{
    text-decoration: none;
    color: #78858e;
    font-size: 14px;
    margin-right: 10px;
}

/* ----------------- End Footer CSS------------------ */

/* ----------------- end Contact Us CSS------------------ */